*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', "sans-serif";
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  width: 1140px;
  justify-content: center;
  grid-template-columns: 711px 399px;
  grid-template-rows: auto;
  grid-template-areas: "result details";
  align-items: flex-end;
  gap: 30px;
  margin: 133px 30px;
  padding-top: 78px
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 711px;
  gap: 16px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  padding-bottom: 2px;
}

.search-form__fieldset {
  width: 225px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  gap: 5px;
  border: none;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

.content__list-container {
  overflow-y: auto;
  max-width: 400px;
  height: 298px;
  position: relative
}

.content__details {
  flex: 1;
  grid-area: details;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.result__video-container {
  min-inline-size: 711px;
  height: 386px;
  position: relative;
  overflow: hidden;
  inline-size: 100%;
  width: inherit;
  object-fit: cover;
  object-position: center;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__list-item {
  display: flex;
  gap: 6px;
}

.content__video-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  display: block;
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  width: 196px;
  overflow: hidden;
}

.title {
  width: 259px;
  font-family: "Oswald", "sans-serif";
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 26px;
  text-transform: uppercase;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", "sans-serif";
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.content__accent {
  font-family: "Oswald", "sans-serif";
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #545050;
}

.content__card-link {
  color: #FFFFFF;
  text-decoration: none;
}

.content__video-card-title {
  color: #FFF;
  font-family: "Oswald", "sans-serif";
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", "sans-serif";
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  padding-top: 2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  margin-left: 5px;
  margin-bottom: 5px
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  min-width: 225px;
  min-height: 27px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  background-color: transparent;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: #fff;
  color: rgba(255, 255, 255, 0.7);
  appearance: none;
  font-family: "Fira Sans Condensed", "sans-serif";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
  content: "";
  width: 14px;
  height: 14px;
  background-size: cover;
  background: #fff;
}

.button {
  display: block;
  height: 34px;
  border: 1px solid #FFFFFF;
  background: transparent;
  color: #FFFFFF;
  font-family: "Fira Sans Condensed", "sans-serif";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  width: 394px;
  gap: 10px;
  margin-bottom: 5px;
}

.button:focus {
  outline: none;
  cursor: pointer;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:active {
  background-color: #545050;
}

.button:hover,
.search-form__label-text:hover,
.content__card-link:hover {
  text-decoration: underline 1px #FFF;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
}

.content__card-link_current {
  background-color: #545050;
}
