*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  width: 1140px;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result details";
  align-items: end;
  gap: 30px;
  margin: 133px 30px;
  padding-top: 78px;
}

.result {
  display: flex;
  flex-direction: column;
  width: 711px;
  gap: 16px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 20px;
}

.search-form__fieldset {
  width: 225px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-container {
  overflow-y: auto;
  max-width: 400px;
  height: 298px;
  position: relative;
}

.content__details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list-item {
  padding: 2px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 200px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
}

.content__accent {
  font-family: "Oswald", sans-serif;
  color: #545050;
}

.content__card-link {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
}

.content__video-card-title {
  color: #FFF;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 0.9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  width: fit-content;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  min-width: 225px;
  min-height: 27px;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  font-size: 18px;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background: #fff;
}

.button {
  height: 34px;
  border: 1px solid #FFFFFF;
  background: transparent;
  color: #FFFFFF;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  align-self: end;
}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  width: 100%;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:active {
  background-color: #545050;
}

.button:hover,
.search-form__label-text:hover,
.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}
